@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/bg.png);
    background-size: cover;      
}

.row>* {
    padding-left: 0!important;
    padding-right: 0!important;
}

#welcomePage {
    padding-left: 100px;
    padding-right: 100px;
}

.welcome-text,
.welcome-img{
    color: #FFF;
    padding-top: 50px;
}

.welcome-text h1 {
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 32px;
}

.welcome-text p {
    font-size: 14px;
}

/* carousel */

.carousel {
    width: 250px;
    height: 250px;
}

.carousel-indicators button{
    width: 10px!important;
    height: 10px!important;
    border-radius: 50%;
}

/* box-login */

.box-login{
    width: 100%;
    height: 200px;
    background-color: #007EA7;
    margin-top: 50px;
    border-radius: 15px;
}

.box-child{
    width: 150px;
    height: 150px;
    background: #9AD1D4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.box-child h4{
    font-size: 12px;
    color: #003249;
    font-weight: 700;  
}

.box-child img {
    width: 50px;
    height: 50px;
}

.btn-first{
    background: #003249!important;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    width: 75px;
    height: 25px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.btn-first:hover {
    background: #fff!important;
    color: #003249;  
}

/* login */

.sidebar-login{
    height: 100vh;
    border-radius: 0px 36px 36px 0px;
    width: 12%!important;
    padding-top: 100px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    background: linear-gradient(180deg, #007EA7 1.06%, rgba(0, 126, 167, 0.00) 140.25%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

ul {
    padding: 0;
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
    padding: 0;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.sidebar-login li.active {
    font-weight: bold; /* Misalnya, membuat teks menjadi tebal */
    color: #003249; 
    background: #CCDBDC;
    width: 184px;
    display: flex;
    justify-content: center;
    left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 12px;
  }

  .login-content{
    width: 88%!important;
  }

  .login-img img {
    width: 300px;
    height: 300px;
  }

  .login-box{
    width: 400px;
    height: 500px;
    border-radius: 20px;
    background: linear-gradient(180deg, #80CED7 0.02%, rgba(128, 206, 215, 0.00) 116%);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 25px;
  }

  .login-box span {
    font-size: 20px;
    font-weight: 700;
  }

  .login-heading{
    color: #003249;
    font-size: 20px;
    font-weight: 700;
  }

  .login-tagline{
    color: #003249;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
  }

  .login-form label {
    color: #003249;
    font-weight: 600;
    font-size: 14px;
  }

  .login-form input {
    width: 350px;
    height: 36px;
    border-radius: 8px;
    background: #CCDBDC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-left: 10px!important;
    padding-right: 10px!important;
    font-size: 14px;
    color: #003249;
  }

 

  
  