@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/bg.png);
    background-size: cover;      
}

.row>* {
    padding-left: 0!important;
    padding-right: 0!important;
}

#welcomePage {
    padding-left: 100px;
    padding-right: 100px;
}

.welcome-text,
.welcome-img{
    color: #FFF;
    padding-top: 50px;
}

.welcome-text h1 {
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 32px;
}

.welcome-text p {
    font-size: 14px;
}

/* carousel */

.carousel {
    width: 250px;
    height: 250px;
}

.carousel-indicators button{
    width: 10px!important;
    height: 10px!important;
    border-radius: 50%;
}

/* box-login */

.box-login{
    width: 100%;
    height: 200px;
    background-color: #007EA7;
    margin-top: 50px;
    border-radius: 15px;
}

.box-child{
    width: 150px;
    height: 150px;
    background: #9AD1D4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.box-child h4{
    font-size: 12px;
    color: #003249;
    font-weight: 700;  
}

.box-child img {
    width: 50px;
    height: 50px;
}

.btn-first{
    background: #003249!important;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    width: 75px;
    height: 25px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.btn-first:hover {
    background: #fff!important;
    color: #003249;  
}

.btn-second{
  background: #fff!important;
  color: #003249;
  font-size: 10px;
  font-weight: 700;
  width: 75px;
  height: 25px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btn-logout{
  background: none;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

/* login */

.sidebar-login{
    height: 100vh;
    border-radius: 0px 36px 36px 0px;
    width: 12%!important;
    padding-top: 100px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    background: linear-gradient(180deg, #007EA7 1.06%, rgba(0, 126, 167, 0.00) 140.25%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    overflow: hidden;
}

ul {
    padding: 0;
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
    padding: 0;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.sidebar-login li.active {
    font-weight: bold; /* Misalnya, membuat teks menjadi tebal */
    color: #003249; 
    background: #CCDBDC;
    width: 184px;
    display: flex;
    justify-content: center;
    left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 12px;
  }

  .login-content{
    width: 88%!important;
  }

  .login-img img {
    width: 300px;
    height: 300px;
  }

  .login-box{
    width: 400px;
    height: 500px;
    border-radius: 20px;
    background: linear-gradient(180deg, #80CED7 0.02%, rgba(128, 206, 215, 0.00) 116%);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 25px;
  }

  .login-box span {
    font-size: 20px;
    font-weight: 700;
  }

  .login-heading{
    color: #003249;
    font-size: 20px;
    font-weight: 700;
  }

  .login-tagline{
    color: #003249;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
  }

  .login-form label {
    color: #003249;
    font-weight: 600;
    font-size: 14px;
  }

  .login-form input {
    width: 350px;
    height: 36px;
    border-radius: 8px;
    background: #CCDBDC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-left: 10px!important;
    padding-right: 10px!important;
    font-size: 14px;
    color: #003249;
  }

  .icon-password{
    position: absolute;
    top: 334px;
    right: 190px;
  }

  /* sidebar */

  .sidebar {
    height: 100vh!important;
    background: linear-gradient(172deg, #007EA7 0%, rgba(0, 126, 167, 0.00) 300.77%);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .sidebar-header{
    color: #003249;
    font-size: 20px;
    font-weight: 700;
  }

  .nav-pills {
    margin-bottom: 100px;
  }

  .nav-link {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
  }

  .nav-link img {
    padding-right: 20px;
    width: 36px;
  }

  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: linear-gradient(90deg, #003249 0%, rgba(0, 50, 73, 0.00) 120.04%)!important;
}

.nav-item {
    width: 100%;
}

/* dashboard */

.dashboard-header{
    color: #003249;
    font-size: 20px;
    font-weight: 700;
}

.card-dashboard{
    width: 30%!important;
   
}

.circle{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: linear-gradient(136deg, #007EA7 13.75%, rgba(0, 126, 167, 0.00) 110.21%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    position: relative;
}

.circle p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 32px;
    font-weight: 600;
}

.card-urgent {
    border-radius: 16px;
    background: linear-gradient(105deg, #007EA7 0.08%, rgba(0, 126, 167, 0.00) 90.17%);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-left: 5px solid #003249;
}

.card:not(.card-urgent) {
    border-radius: 16px;
    background: #CCDBDC ;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1); 
    border-left: 5px solid #003249;
}

.card-message {
    color: #003249;
    font-size: 14px;
    font-weight: 700;
}

.card-message br::after {
    content: ' Minggu Ini';
    font-weight: 400;
    color: #003249; 
    font-size: 12px;
}


.card-alert{
    color: #003249;
    font-size: 10px;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

/* table */

.kategori-table {
    color: #003249;
    font-size: 14px;
}

.kategori-table .active {
    font-weight: 700;
    border-bottom: 2px solid #003249;
}

.hidden {
    display: none;
}

.table th {
    color: #003249;
    font-size: 16px;
    font-weight: 700;
}

.table td {
    color: #003249;
    font-size: 16px;
    font-weight: 400;
}

tbody, td, tfoot, th, thead {
    border-color: inherit;
    border-style: none;
    border-width: 0;
}

table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
  }

  /* kelola surat */

  .kelola-tambah{
    color: #003249;
    font-size: 16px;
    font-weight: 600;
  }

  .button-tambah .btn-first {
    width: 90px;
  }

  .button-tambah .btn-first:hover{
    background: #003249!important;
    color: #FFF;
  }

  .tanda-tangan{
    background-color: #CCDBDC;
    color: #003249;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .tanda-tangan .card {
    border-left: none;
    border-radius: 10px;
    background: linear-gradient(92deg, #9AD1D4 0.16%, rgba(154, 209, 212, 0.00) 136.44%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
    .judul-surat {
    color: #003249;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    }

    .no-surat {
        font-size: 12px;
        font-weight: 400;
    }

    .button-group .btn-first {
        width: 80px;
    }

    .button-submit{
        display: flex;
    }


    
    



    


  
  